        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-light">
            <button class="navbar-toggler mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="container-fluid">
                    <div class="row">
                    <!--sidebar-->
                        <div class="col-lg-3 sidebar fixed-top col-xl-2 col-md-4 py-2">
                            <a href="#" class="navbar-brand"><i><img src="{{ url_for('static', filename='images/BDT_thumb.jpg') }}" class="rounded float-start py-2"></i></a>
                            <ul class="navbar-nav flex-column mt-16">
                                {% set count = namespace(value = 0) %}
                                {% set icon = namespace(class='') %}
                                {% set menu = ({"Inicio": "fas fa-child", "Servicios": "fas fa-desktop", "Politica de calidad": "fas fa-align-center", "Nuestros clientes": "fas fa-shopping-basket", "Reconocimientos": "fas fa-shopping-basket", "Cursos": "", "Contacto": "fas fa-cogs"}) %}
                                {% for option, class in menu.iteritems() %}
                                    <li class="nav-item dropdown button-menu" data-toggle="dropdown">    
                                    {% set count.value = count.value + 1 %}
                                    {% if count.value == form.current | int %}
                                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link current">
                                    {% else %}
                                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                                    {% endif %}
                                            <i class="{{ class }} text-light fa-lg mr-3"></i>{{ option }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    <!--end of sidebar-->
                    <!--top-nav-->
                        <div class="col-xl-10 col-lg-9 ml-auto bg-dark fixed-top py-2 col-md-8 top-navbar">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <h4 class="text-light text-uppercase mb-0">CAAMSE Calidad Ambiente y Seguridad</h4>
                                </div>
                                <div class="col-md-5">
                                    <!--Used to be the search form-->
                                </div>
                                <div class="col-md-3">
                                    <ul class="navbar-nav">
                                        <!-- <li class="nav-item icon-parent ml-1"><a href="#" class="nav-link icon-bullet ml-1"><i class="fas fa-cogs text-warning fa-lg ml-1"></i></a></li> -->
                                        <li class="nav-item ml-md-auto">
                                            <div class="text-right text-muted">
                                                <p class="text-alert"><b>Bla bla bla</b>.
                                                <b>Bla bla</b>. <b>bla bla</b></p>
                                            </div>
                                        </li>
                                        <li class="nav-item ml-md-auto"><a href="#" class="nav-link icon-bullet ml-1"><i class="fas fa-cogs text-warning fa-lg ml-1"></i></a></li>
                                        <li class="nav-item ml-md-auto"><a href="{{ url_for('main.index') }}" class="nav-link"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <!--end of top-nav-->
                </div>
            </div>
        </nav>
